@font-face {
  font-family: 'raleway';
  src: url('../font/raleway_thin-webfont.eot');
  src: url('../font/raleway_thin-webfont.eot') format('embedded-opentype'),
       url('../font/raleway_thin-webfont.woff') format('woff'),
       url('../font/raleway_thin-webfont.ttf') format('truetype'),
       url('../font/raleway_thin-webfont.svg') format('svg');
}

body {
	background-size: cover;
	
	margin: 0;
	padding: 0;
	
	font-family: raleway,sans-serif;
}

#clock {
	margin-top: 50px;
	text-align: center;
	
	font-size:100px;
	color: #cccccc;
}

#search, #pad {
	display: block;
	margin: auto;
	margin-top: 50px;
	width: 30%;
	
	padding:6px 15px 6px 15px;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	
	border: 2px solid #cccccc;
	background: rgba(0, 0, 0, 0.4);
	color: #cccccc;
	
	font-size:24px;
	text-align: center;
	font-family: raleway,sans-serif;
}

#search:focus, #pad:focus {
	outline: 0;
	border: 2px solid #888888;
	
	color:#dddddd;
}

#search {
	height: 30px;
}

#alignBottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0;
	padding: 0;
}

#pad {
	resize: none;
	overflow: auto;
	
	min-height: 60px;
	margin-bottom: 50px;
}

#apps {
	position: absolute;
	top: 30px;
	left: 30px;
	
	font-size: 24px;
	cursor: pointer;
	color: #cccccc;
}

#quote {
	padding:6px 15px 6px 15px;
	
	background: rgba(0, 0, 0, 0.4);
	color: #cccccc;
	
	font-size:24px;
	text-align: center;
	font-family: raleway,sans-serif;
}

#options {
	position: absolute;
	bottom: 0;
	right: 0;
}

#pad:empty:not(:focus):before{
    content:attr(data-text);
	cursor: text;
}

#search::-webkit-input-placeholder {
    font-family: raleway,sans-serif;
	color: #cccccc;
}

#search:-ms-input-placeholder {
    font-family: raleway,sans-serif;
	color: #cccccc;
}

#search:-moz-placeholder {
    font-family: raleway,sans-serif;
	color: #cccccc;
}

#search::-moz-placeholder {
    font-family: raleway,sans-serif;
	color: #cccccc;
}